.icon-group-hover\:hidden,
.icon-group-hover\:block {
    transition: opacity 0.3s;
}

.icon-group-hover\:hidden {
    opacity: 1;
}
.icon-group-hover\:block {
    opacity: 0;
}

.icon-group:hover .icon-group-hover\:hidden {
    opacity: 0;
}
.icon-group:hover .icon-group-hover\:block {
    opacity: 1;
}